<ion-content  class="ion-padding">
  <div style="margin-top:40%"></div>
  <swiper-container pager="false" #swiper>
    <!-- Slide 1 -->
    <swiper-slide>
      <ion-text color="">
        <img src="../../../assets/playdate-logo-dark.png" style="max-width:200px" />
        <h1>Hey there!</h1>
        <p>Welcome to PlayDate, how many players would you like to create?</p>
        
          <ion-input id="txtPlayerCount" #txtPlayerCount [(ngModel)]="playerCount" type="number" placeholder="#" class="player-count-input" (click)="playerCountClicked($event)"></ion-input>
       
        <ion-button (click)="next()" fill="clear" color="">Next</ion-button>
      </ion-text>
    </swiper-slide>

    <!-- Slide 2 -->
    <swiper-slide>
      <ion-text color="">
        <img src="../../../assets/playdate-logo-dark.png" style="max-width:200px" />
        <h1>Your Players</h1>
        <p>please enter the names of your players below</p>

        <ion-item *ngFor="let player of newPlayers; index as i">
          <ion-input type="text" [(ngModel)]="player.fullName" placeholder="player # {{i + 1}}"></ion-input>
        </ion-item> 

        <ion-button (click)="start()"  fill="clear" color="">Get Started
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-text>
    </swiper-slide>
  </swiper-container>
</ion-content>